/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #383838;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.main-content {
  position: relative;
  width:100%;

}
/*
.center {
  text-align: center;
}*/

/* Don't need this one anymore*/
.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  /*margin-left: 32px;
  margin-top: 32px;width: 90%;*/
}


/* Header */

header {
  position: fixed;z-index:1;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  height: 64px;
  display: flex;
  align-items: center;

}

header .content {
  display: flex;width:100%;
  align-items: center;justify-content:space-between;
  margin-left: 24px;
  margin-right: 24px;
  height: 32px;
}

header .title {
  display: flex;
  align-items: center;
}

header .logo {
  flex: 1;font-size: 1.4rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1.2rem;
}

header .icon {
  width: 2rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Start here section*/

.start-here-section {
  display: flex;border: 2px solid blue;
  background-color: lightgrey;padding-top: 64px;
}

.start-here-text {
    margin-left: 24px;
    width:35%;
    border: 1px solid red;
}

.start-here-text h1 {
  color: #383838;
  font-size: 3rem;
  font-weight: bold;border: 1px solid green;
  width:80%;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.start-here-text p {
  margin-top: 2rem;border: 1px solid yellow;
  font-size: 1.5rem;
  color: #383838;
  line-height: 1.4;
  width: 80%;
}

.startbutton {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 70%;
  color: white;
  font-size: 1.4rem;
  background-color: #383838;
  text-align: center;
  margin-top: 2rem;
  font-weight:lighter;
}

#startherelogo {
  width: 60%;height: 80%;
  margin-left: 24px;
  /*max-width: 100%;height: auto;*/
  /*margin: 32px 24px;*/border: 2px solid red;
}

@media only screen and (max-width: 760px) {
  .start-here-section {
    display:block;
  }

  #startherelogo {
    width:100%;  margin: 0 0;
  }

  .start-here-text {
      margin-left: 24px;margin-right: 24px;
      margin-bottom: 32px;
      width:100%;border: 2px solid red;
  }

}

/* mobile layout for the Start here section*/
@media only screen and (max-width: 420px) {
  .start-here-text {
    margin: 0;width:92%;margin-left: 1rem;
    padding-bottom: 2rem;
  }
  .start-here-text h1, p, .startbutton{
    width: 100%;
    /*padding-left: 1rem;*/
  }
  .start-here-text h1 {
    margin-top: 2rem;
  }

  .start-here-text p {
    width:100%;
    margin-top: 2rem;
  }
  .start-here-text .startbutton{
    margin-top: 24px;
  }
}

/* Information section*/
.on-campus {
  display: flex;
  margin-top: 2rem;margin-bottom: 2rem;
  /*padding-bottom: 2rem;*/border: 4px solid red;
}

.on-campus .quote{
  border:1px solid green;
  width: 60%;margin-top: 0;padding-bottom: 0;
  margin-left: 24px;
  /*padding-right: 24px;*/
}

.on-campus .quote img{
  margin-top: 2rem;
  width: 100%;height:auto%;
}

.quote h1 {
  font-size: 2.5rem;
  margin-top: 32px;
  margin-bottom: 24px;border: 1px solid orange;
}

.quote p{
  line-height: 1.4;/*margin-bottom: 24px;*/
  font-size: 1rem;
  width:80%;color: grey;
  font-weight: lighter;
  margin-bottom: 24px;border: 1px solid orange;
}

.author {
    border: 1px solid pink;
    font-size: 1rem;
}

.on-campus-details {
  border: 2px solid blue;
  width: 35%;
  margin-left: 24px;padding-right: 1rem;
}

.on-campus-details .oncampusdetail {
  display: flex;
  border: 2px solid orange;
  padding: 1rem;padding-right: 1rem;
}

/* Remove the padding at top of first item only */
#orientation {
  padding-top: 0;
  margin-top: 2rem;
}

.oncampusdetail img {
  width: 35%; height:34%;
}
.info-mobile {
  display: none;
}
.on-campus-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;border: 1px solid red;
  padding-left: 24px;
}

.on-campus-text h2{
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: normal;
}

.on-campus-text span {
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.4;
  font-weight: lighter;border: 1px solid blue;
  width: 100%;
}

.on-campus-text a{
  color: #4ba3f4;
  font-size: 1rem;
  font-weight: lighter;
}

#guest-lecturer {
  background-color: lightgrey;
}

/* mobile layout for the Information section*/
@media only screen and (max-width: 420px) {
  .on-campus .quote{
    display: none;
  }

  .oncampusdetail img {
    display: none;
    width:100%;
  }

  .on-campus {
    margin: 0px;padding: 0px;
    margin-top: 1rem;margin-bottom: 2rem;
  }
  #orientation, #campus {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 64px;
  }
  .on-campus-details .oncampusdetail {
    display: flex;
    flex-direction: column;
    margin: 0px; padding: 0px;
    margin-left: 1rem;margin-right: 1rem;
  }

  .oncampusdetail .info-mobile {
    display: flex;
  }

  .on-campus-details{
    width: 100%;
    padding: 0px;
    margin: 0px;border: 1px solid turquoise;
  }

  .on-campus-text {
      padding-left: 1rem;
  }

  #guest-lecturer {
    background-color: white;
  }
}


/* Start Learning*/

@media only screen and (max-width: 760px) {

/* Start Learning*/


}

@media only screen and (max-width: 450px) {
/* Start Learning*/
}

#start-learning-section {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 3.5rem;padding-right: 3.5rem;
  background-color: #f3f3f3;
  padding-bottom: 2rem;padding-top: 2rem;
}

.learning-title h1 {
    font-size: 3rem;
}

.courses {
  display: flex;
  justify-content:center;
  align-items:baseline;
  flex-wrap: wrap;
  flex-direction: row;
  width:100%;border: 1px solid blue;
  margin-left: 3.5rem;
  margin-right: 3.5rem;padding-top: 1rem;
}

/*Hide mobile section...will only appear for mobile screens*/
.courses-mobile {
  display: none;
}

.course {
  display: flex;
  /*flex: 1;*/
  justify-content: flex-start;flex-direction: column;
  background-color: white;border: 1px solid green;
  width:30%;height: auto;
  margin: 1rem;padding-bottom: 2rem;

}

.course .image-container {
  /*width: 100%;*/
  /*height: 65%;*/
  border: 1px solid blue;
}

.course .image-container img{
  width:100%;
}

.course .content h1 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight:500;
  font-size: 1.4rem;
}

.course .content h2 {
  margin-left: 1rem;
  padding-bottom: 0.5rem;padding-top: 0.5rem;
  font-size: 1rem;
  font-weight:lighter;
  color: #4a4a4a;
}

.course .content p {
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.2;
  height: 5rem;
  font-weight:lighter;
  color: #4a4a4a;
  /*margin-bottom: 24px;*/
  word-wrap: normal;border: 1px solid blue;
}

@media only screen and (max-width: 890px) {
  .course h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .course h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #start-learning-section {
    flex-flow: column;
    padding: 0;
  }

  .course {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/*mobile screen layout*/
@media only screen and (max-width: 420px) {

  .courses {
    display: none; /*Hide desktop layout*/
  }

  .courses-mobile {
    display: flex; /*display the mobile spans*/
    flex-direction: column;
    width:100%;
    margin-top: 16px;
  }

  #start-learning-section {
    background-color: white;
    padding-bottom: 32px;
    border-top: 1px solid lightgrey;
    padding-top: 32px;
  }

  .courses-mobile span{
    font-size: 1.4rem;
    background-color: grey;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

}
/* Thesis section*/
.thesis-section {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 32px;margin-bottom: 32px;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.thesis-section h1{
  font-size: 3rem;
  text-align: center;
}

.thesis-content{
  display:flex;
}

.quote2 {
  display: flex;
  flex-direction: column;
  width: 60%;height:auto;
  margin-top: 32px;
}

.quote2 video {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  width:93%;height:auto;

}

.quote2 .quote2txt {
  margin-left: 24px;
  width: 90%;padding-right: 24px;
}

.quote2 .quote2txt h2 {
  font-weight:500;
  font-size: 1.4rem;
}

.quote2 .quote2txt p {
    margin-top: 8px;
    font-size: 1rem;
    width:100%;color: grey;
    font-weight: lighter;
}

.thesis-section-addons {
  width:40%;
  margin-top: 32px;
}

.design {
  display: flex;
  height: auto;
}

.design img{
  margin: 16px;
  width:35%;height: 100%;
}

.designtext {
  display: flex;flex-direction: column;
  width: 65%;height:auto;
  align-content: center;justify-content: center;
}

.designtext h2{
    width: 80%;
    line-height: 160%;
    font-weight:500;
    font-size: 1.4rem;
}
.designtext span {
  width: 75%;line-height: 160%;
  font-size: 1rem;
  font-weight:lighter;
  color: grey;

}

#fisma {
  background-color: lightgrey;
}
/*mobile layout: remove all artifacts except for title and video*/
@media only screen and (max-width: 420px) {
  .thesis-section-addons, .quote2txt {
    display: none;
  }

  .quote2 {
    width:100%;
    margin-top: 1rem;
  }
  .quote2 video {
    width:100%;
    margin-left: 0;
    margin-right: 0;
  }

  .thesis-section {
    margin-bottom: 0px;
  }
}


/* Footer section*/
footer {
  background-color: white;
  /*height:3rem;*/
  border-top: 1px solid darkgrey;
}

footer .content {
  display: flex;border:

}

footer .copyright {
  color: grey;
  flex-grow: 1;
  margin-left: 24px;
  margin-top: 16px;
  font-size: 1rem;
  font-weight:lighter;
}

footer .terms, .privacy{
  margin-left: 24px;
  margin-top: 16px;
  margin-right: 24px;
  font-size: 1rem;
}

.terms a{
  color: grey;
  font-weight:lighter;
}

.privacy a{
  color: grey;
  font-weight:lighter;
}

/* for mobile screens, hide the terms and privacy and adjust padding*/
@media only screen and (max-width: 420px) {
  footer {
    border-top: 1px solid white;
    margin:0px;padding: 0px;
  }
  footer .content {
    margin:0px;padding: 0px;
  }
  footer .copyright {
      /*padding-top: 1rem;*/
      padding-bottom: 1rem;
  }

  footer .terms {
    display: none;
  }

  footer .privacy {
    display: none;
  }
}
